<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="flex" style="background: aquamarine; display:flex;">
    <img src= "{% static 'images/default.jpeg' %}" style="border-radius: 50%; width: 3%; padding: 0.2%;">
    <a href="{% url 'createProject' %}" style="text-decoration: none; font-size: large; padding: 1%;">Create</a>
    <a href="{% url 'product' %}" style="text-decoration: none; font-size: large; padding: 1%;">List</a>
    </div>
    {% block body %}{% endblock %}
</body>
</html>